<tr>
    <td>1</td>
    <td>Ankit</td>
    <td>ankit@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn boader-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn boader-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
 </tr>
 <tr>
    <td>1</td>
    <td>Ankit</td>
    <td>ankit@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn boader-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn boader-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
 </tr>
 <tr>
    <td>1</td>
    <td>Ankit</td>
    <td>ankit@gmail.com</td>
    <td>male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn boader-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn boader-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
 </tr>